/* src/public/Css/DashboardLayout.css */
.dashboard-layout {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 350px; /* Ajusta esto según el nuevo ancho de tu sidebar */
}

/* src/public/Css/Navbar.css */
.navbar {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar h1 {
  margin: 0;
}

.navbar p {
  margin: 0 10px;
}

.navbar button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #0056b3;
}